* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  width: 5%;
  height: 5%;
}

.header-conteiner {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}

nav li {
  display: inline;
  padding: 20px;
}

nav a {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 30px;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
  text-decoration: none;
}

nav a:hover {
  color: rgb(180, 0, 123);
  text-decoration: underline;
}

body {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

#banner {
  width: 100%;
}

h1 {
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  padding: 2%;
}

.conteiner-pai {
  background-color: #cccccc;

}

.conteiner-filho {
  color: rgb(0, 0, 0);
  font-size: 35px;
  text-align: center;
  width: 85%;
  margin: auto;
  padding: 30px;
}

.grid-pai {
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content:center;
  align-items: center;
}

.grid-filho1 {
  
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 0, 0);

}

grid-filho2 {
  
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 0, 0);

}

grid-filho3 {
  
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 0, 0);

}

grid-filho4 {
  
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 0, 0);

}

grid-filho5 {
  
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 0, 0);

}

grid-filho6 {
  
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 0, 0);

}